In [1]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in d:\user\anaconda3\lib\site-packages (3.29.0)
Requirement already satisfied: geomet<0.3,>=0.1 in d:\user\anaconda3\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in d:\user\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.0)
Requirement already satisfied: six in d:\user\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)

In [2]:
import cassandra

In [3]:
print(cassandra.__version__)

3.29.0

In [4]:
from cassandra.cluster import Cluster
cluster=Cluster()
session_offline=cluster.connect()

In [5]:
row=session_offline.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occured")

3.11.10

In [6]:
"""
Creating key space
create KEYSPACE kul with replication={'class':'SimpleStrategy','replication_factor':1} AND durable_writes='true';

"""
#Create KEYSPACE kul-cas with replication={'class':'SimpleStrategy','replication_factor':1} AND durable_writes='true';
session = cluster.connect()
row = session.execute("CREATE KEYSPACE new-cassandra WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 4};")

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:19 mismatched input '-' expecting K_WITH (CREATE KEYSPACE new[-]...)">

In [13]:
from cassandra.cluster import Cluster
cluster=Cluster()
session_offline=cluster.connect()
#row=session_offline.execute("use kul").one()
row = session.execute("CREATE KEYSPACE kulcassandra WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 4}").one()
print(row)

None

In [14]:
from cassandra.cluster import Cluster
cluster=Cluster()
session_offline=cluster.connect()
row=session_offline.execute("use kulcassandra").one()
print(row)

None

In [18]:
row=session_offline.execute("describe keyspace kuscassandra").one()
print(row)

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:0 no viable alternative at input 'describe' ([describe]...)">

In [19]:
from cassandra.cluster import Cluster
cluster=Cluster()
session_offline=cluster.connect()
row=session.execute("CREATE TABLE kulcassandra.Members(id int PRIMARY KEY,name text,age int,height int);")
#row=session_offline.execute("describe keyspace kuscassandra").one()
print(row)

<cassandra.cluster.ResultSet object at 0x000001B60B3779A0>

In [21]:
row=session.execute("insert into kulcassandra.members (id, age, height, name) values(2,567,7,'kulkirti');")
#row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (1,'mohit',25,160);")

In [23]:
row=session.execute("select * from kulcassandra.members").one()
for i in row:
    print(i)

1
567
7
kul

In [24]:
from cassandra.cluster import Cluster
cluster=Cluster()
session=cluster.connect()
# Command to create keyspace in Cassandra
try:
    query="create keyspace employeemanagement with replication={'class':'SimpleStrategy', 'replication_factor':3}"
    session.execute(query)
    print("Keyspace created Succesfully !!")
except Exception as err:
    print("Exception occured while creating keysapce:",err)

Keyspace created Succesfully !!

In [26]:
# Command to use keyspace
try:
    query="use employeemanagement"
    session.execute(query)
    print("Inside the keysapce")
except Exception as err:
    print("Exception occured while using keyspace: ", err)

Inside the keysapce

In [27]:
#Command to alter keysapce in cassandra
from cassandra.cluster import Cluster
cluster=Cluster()
session=cluster.connect()
try:
    query="alter keyspace empmanagement with replication ={'class':'SimpleStrategy','replication_factor':2}"
    session.execute(query)
    print("Keyspace altered successfully !!!")
except Exception as err:
    print("Exception occured while  altering keyspace:", err)

Exception occured while  altering keyspace: Error from server: code=2200 [Invalid query] message="Unknown keyspace empmanagement"

In [28]:
#Command to alter keysapce in cassandra
try:
    query="alter keyspace employeemanagement with replication ={'class':'SimpleStrategy','replication_factor':2}"
    session.execute(query)
    print("Keyspace altered successfully !!!")
except Exception as err:
    print("Exception occured while  altering keyspace:", err)

Keyspace altered successfully !!!

In [ ]:
###Droping the keyspace

In [32]:
#Command to use keyspace
from cassandra.cluster import Cluster
cluster=Cluster()
session=cluster.connect()
try:
    query="use employeemanagement"
    session.execute(query)
    print("Inside the keyspace")
except Exception as err:
    print("Exception occured while using Keyspace: ", err)

Inside the keyspace

In [37]:
##Command to create a table inside a keyspace
try:
    query= """create table emp(
              emp_id int,
              emp_name varchar,
              emp_salary int,
              emp_dept varchar,
              emp_email varchar,
              emp_phone varchar,
              primary key(emp_id,emp_dept)
            )
        """
    session.execute(query)
    print("Table created inside the keyspace")
except Exception as err:
    print("Exception occured while creating the table :",err)

Table created inside the keyspace

In [36]:
try:
    query = """create table employee(
                emp_id int,
                emp_name varchar,
                emp_salary int,
                emp_dept varchar,
                emp_email varchar,
                emp_phone varchar,
                primary key (emp_id, emp_dept)
              )
            """
    session.execute(query)
    print("Table created inside the keyspace")
except Exception as err:
    print("Exception Occured while creating the table : ",err)

Table created inside the keyspace

In [39]:
# Alter the table in cassandra
try:
    query="alter table employee drop emp_email "
    session.execute(query)
    print("Table alterd successfully")
except Exception as err:
    print("Exception occured during altering the table name :", err)

Table alterd successfully

In [40]:
## add the new table
try:
    query="alter table employee add emp_email text"
    session.execute(query)
    print("column added successfully")
except Exception as err:
    print("Exception occured during adding the column :", err)

Table added successfully

In [ ]:
## drop table in cassandra
try:
    query="drop table employee "
    session.execute(query)
    print("drop table successfully")
except Exception as err:
    print("Exception occured during droping the table :", err)

In [41]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(1, 'Shashank', 10000, 'Software', 'abc.gmail.com','+49-1768467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [42]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(2, 'Rahul', 20000, 'IT', 'xyx.gmail.com','+91 908467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [43]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(3, 'Sunny', 22000, 'HR', 'klm.gmail.com','+91 800067474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [44]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(4, 'Vishal', 30000, 'Software', 'mno.gmail.com','+91 600467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [45]:
# Select query on cassandra table
try:
    query = "select * from employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+49-1768467474', emp_salary=10000)
Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)
Row(emp_id=4, emp_dept='Software', emp_email='mno.gmail.com', emp_name='Vishal', emp_phone='+91 600467474', emp_salary=30000)
Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)

In [46]:
# Select query for specific columns in cassandra table
try:
    query = "select emp_id, emp_name from employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_name='Shashank')
Row(emp_id=2, emp_name='Rahul')
Row(emp_id=4, emp_name='Vishal')
Row(emp_id=3, emp_name='Sunny')

In [48]:
# Select query for specific columns in cassandra table and how to access from Row object
try:
    query = "select emp_id, emp_name from employee"
    result = session.execute(query)
    # option 1
    for row in result:
        print("Emp ID : ", row[0],"Emp Name : ", row[1])
        #print("Emp Name : ", row[1])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Emp ID :  1 Emp Name :  Shashank
Emp ID :  2 Emp Name :  Rahul
Emp ID :  4 Emp Name :  Vishal
Emp ID :  3 Emp Name :  Sunny

In [51]:
##Select query on casandra table
try:
    query="select * from employee"
    result=session.execute(query)
    row=result.one()
    print(row)
    print("Select command executed successfully!!")
except Exception as err:
    print("Exception occured while selecting the data from table: ", err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+49-1768467474', emp_salary=10000)
Select command executed successfully!!

In [55]:
try:
    query="select * from employee"
    result=session.execute(query)
    for row in result:
        print(row)
        """
        check individual element
        """
        print(row[0],row[1],row[2],row[3],row[4])
except Exception as e:
    print("error occured while selecting data from the table", err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+49-1768467474', emp_salary=10000)
1 Software abc.gmail.com Shashank +49-1768467474
Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)
2 IT xyx.gmail.com Rahul +91 908467474
Row(emp_id=4, emp_dept='Software', emp_email='mno.gmail.com', emp_name='Vishal', emp_phone='+91 600467474', emp_salary=30000)
4 Software mno.gmail.com Vishal +91 600467474
Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)
3 HR klm.gmail.com Sunny +91 800067474

In [57]:
###write query total number of employee
try:
    query="select count(*) from employee"
    result=session.execute(query)
    row=result.one()
    print("The number of Row in the table: ",row)
    print(row[0])
except Exception as e:
    print("Exception occured during counting the numbur of Row:", err)

The number of Row in the table:  Row(count=4)
4

In [58]:
#Write a query to find the maxuímum salary from the table
try:
    query="select max(emp_salary) from employee"
    result=session.execute(query)
    row=result.one()
    print(row)
    print(row[0])
except Exception as err:
    print(err)

Row(system_max_emp_salary=30000)
30000

In [59]:
# write a query to filter data from the cassandra table
# Write a query to filter data from cassandra table or how to use where clause
# Rules for where clause - It can be used effectively with high performance for given below type of columns
# 1.) Partition Key (Single or Composite)
                   #OR
# 2.) if Cluster column  used in where clause then it should be with Partition Key
                   #OR
# 3.) A column on which we have applied the index
                   #OR
# 4.) A column which is not part of partition key or index column or clustering column then we can use where clause but we have to
# use keyword ALLOW FILTERING - it will be a super slow performance when data volume is very high
try:
    query="select * from employee where emp_name='Shashank'"
    result=session.execute(query)
    row=result.one()
    print(row)
except Exception as err:
    print("Exception occured while selecting the data from the table: ", err)

Exception occured while selecting the data from the table:  Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [61]:
try:
    query="select * from employee where emp_name='Shashank' allow filtering"
    result=session.execute(query)
    row=result.one()
    print("Information about the employee: ", row)
except Exception as err:
    print("Exception occured while selecting the data from the table: ", err)

Information about the employee:  Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+49-1768467474', emp_salary=10000)

In [62]:
### where clause for Partition key key only
try:
    query="select * from employee where emp_id=2"
    result=session.execute(query)
    row=result.one()
    print(row)
except Exception as err:
    print(err)

Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)

In [63]:
## where clause for partition key only
try:
    query="select * from employee where emp_dept='software'"
    result=session.execute(query)
    row=result.one()
    print(row)
except Exception as err:
    print(err)

Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [68]:
try:
    query="select * from employee where emp_dept='IT' and emp_id=2"
    result=session.execute(query)
    row=result.one()
    print(row)
except Exception as err:
    print(err)

Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)

In [ ]:
# we have another composit partition key
# We have another composite partition key

priamry key ( (employeeid, fname) , dept )

select * from employee where employeeid = 'x' and dept = 'software' and fname = 'shashank'  # Wrong query

select * from employee where dept = 'software' and employeeid = 'x' and fname = 'shashank'   # Correct

In [69]:
###Group By
try:
    query="select sum(emp_salary) as sum_salary from employee group by emp_id"
    result=session.execute(query)
    row=result.one()
    print(row)
except Exception as err:
    print(err)

Row(sum_salary=10000)

In [70]:

# Group by in cassandra  -  Allowed for all columns which are part of Primary Key
# Follow given below rules
# Rule - 1 : Use only partition key in the group by
              #OR
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query="select sum(emp_salary) as sum_salary from employee group by emp_name"
    result=session.execute(query)
    row=result.one()
    print(row)
except Exception as err:
    print("Error occured :",err)

Error occured : Error from server: code=2200 [Invalid query] message="Group by is currently only supported on the columns of the PRIMARY KEY, got emp_name"

In [71]:
# Group by in cassandra 
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query="select sum(emp_salary) as sum_salary from employee group by emp_dept"
    result=session.execute(query)
    row=result.one()
    print(row)
except Exception as err:
    print("Error occured :",err)

Error occured : Error from server: code=2200 [Invalid query] message="Group by currently only support groups of columns following their declared order in the PRIMARY KEY"